{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists Search{% endblock %}
{% block content %}
<h3>Number of search results for "{{ search_term }}": {{ num_search_results }}</h3>
<div class="row shows">
    {%for show in shows %}
    <div class="col-sm-4">
        <div class="tile tile-show">
            <img src="{{ show[4] }}" alt="Artist Image" />
            <h4>{{ show[2] }}</h4>
            <h5><a href="/artists/{{ show[1] }}">{{ show[3] }}</a></h5>
            <p>playing at</p>
            <h5><a href="/venues/{{ show[2] }}">{{ show[5] }}</a></h5>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
